/* Custom link class */
.link-style {
  @apply text-red-500 text-lg md:text-2xl lg:text-3xl xl:text-3xl font-bold mr-4 hover:animate-bounce;
}

/* Icon classes with different hover animations */
.icon-pulse {
  @apply ml-1 w-8 h-8 text-red-500 hover:animate-pulse;
}

.icon-bounce {
  @apply ml-1 w-8 h-8 text-red-500 hover:animate-bounce;
}

.icon-spin {
  @apply ml-1 w-8 h-8 text-red-500 hover:animate-spin;
}

/* pagination on products page */
.products-footer {
  @apply text-center bg-white max-w-4xl mx-auto text-lg py-8;
}

.products-footer .pagination {
  @apply inline-flex shadow-sm;
}

.products-footer a {
  @apply -ml-px inline-flex items-center px-3 py-2 border border-slate-300 bg-white text-base font-medium text-slate-600 no-underline;
}

.products-footer a:hover {
  @apply bg-slate-300;
}

.products-footer .active {
  @apply bg-red-500 text-white;
}

.products-footer a:first-child {
  @apply rounded-l-md;
}

.products-footer a:last-child {
  @apply rounded-r-md;
}

.products-footer a.previous {
  @apply rounded-l-md;
}

.products-footer a.next {
  @apply rounded-r-md;
}

/* Cart quantity buttons */

.cart-quantity-button {
  @apply flex items-center justify-center w-6 h-6 border border-black rounded-full bg-white focus:outline-none;
}

/* navbar dropdowns menu - language switcher/user menu */

.dropdown-menu-arrow::before {
  content: "";
  position: absolute;
  top: -5px;
  left: calc(95% - 12px);
  border-width: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent transparent white transparent
}

.menu-item {
  @apply block px-4 py-2 text-sm text-white 
} 

.menu-item:hover {
  @apply hover:text-black
}

.round-image-padding {
  border-radius: 50%;
  border: 2px solid white;
  padding: 2px;
}

.img-down-arrow::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 45%;
  transform: translateY(-50%);
  border-width: 3px 3px 0 3px;
  border-color: white transparent transparent transparent;
  border-style: solid;
}

.quantity-field {
  transition: opacity 0.3s ease-in-out;
}

/* Custom Dropdown Style */
.custom-select {
  appearance: none; /* Removes default browser styling */
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em;
}

.custom-select option:hover {
  background-color: red;
  color: white;
}
